.homeItems {
    padding: 32px 64px 64px;
    border-top: 4px solid #007bff;
    position: relative;
    top: 35vw;
    background: #f8f9fa;
    margin-bottom: 35vw;

}

.homeSlider {
     z-index: -1;
    position: fixed;

}

.carousel-img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 35vw;
    width: 100%;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.subject {
    width: auto;
    background: rgba(0, 123, 255, 0.13);
    border-right: 4px solid #007bff;
    border-radius: 5px;
    text-align: right;
    padding: 16px;
    transition-duration: .7s;
    animation-name: changeSubjectSize;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
}
.subject:hover{
    background: rgba(220, 53, 69, 0.13);
    border-right: 4px solid #dc3545;
}

.small-img {
    width: 12vw;
    height: 12vw;
}

.menuItem{
    flex: none;
    width: auto;
    margin: 0;
    padding: 0;
}

.downloadItemSubject {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.visitItemSubject {
    text-align: right;
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 25px;
    width: fit-content;
    padding: .6vw;
    text-shadow: 7px 5px 23px black;
}

.downloadItemDescription {
    margin-top: 16px;
    margin-bottom: 16px;
}

.visitItemDescription {
    text-align: right;
    margin-top: 16px;
    margin-bottom: 16px;
    width: fit-content;
    padding: .6vw;
    transition-duration: .7s;

}

.btnDownload {
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    filter: grayscale(100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    width: 10vw;
    margin-bottom: 16px;
    transition-duration: .3s;

}

.btnDownload:hover {
    filter: grayscale(0%);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.7);
}

.visitObjectSection {
    margin-top: 64px;
}

.downloadObjectParent {
    position: relative;
    min-height: 28vw;
    border-radius: 5px;
    padding-top: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background-color: white;
    height: 100%;
    border-top: 4px solid #007bff;
    border-bottom: 4px solid #dc3545;
    transition-duration: 1s;

}

.downloadObjectParent:hover {
    border-top: 4px solid #dc3545;
    border-bottom: 4px solid #007bff;
}

.sliderItem {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}
.sliderText{
    background: rgba(255,255,255,0.5);
    color : black;
    width: fit-content;
}

@keyframes changeSubjectSize {
    0%{margin-left: 10px}
    100%{margin-left: 30px}
}

