.homeItems {
    padding: 64px;
    border-top: 4px solid #007bff;
    position: relative;
    top: 35vw;
    background: #f8f9fa;
    margin-bottom: 35vw;

}

.homeSlider {
     z-index: -1;
    position: fixed;

}

.menuItems {

}

.menuChild {
    font-size: 1.3vw;

}

.carousel-img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 35vw;
    width: 100%;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.subject {
    font-weight: bold;
    font-family: inherit;
    width: auto;
    background: rgba(0, 123, 255, 0.13);
    color: black;
    border-right: 4px solid #007bff;
    border-radius: 5px;
    text-align: right;
    padding: 16px;
    font-size: 3vw;
}

.small-img {
    width: 12vw;
    height: 12vw;
}

.downloadItemSubject {
    text-align: center;
    font-weight: bold;
    font-family: inherit;
    font-size: 1.9vw;
    color: black;
    margin-top: 16px;
    margin-bottom: 16px;
}

.visitItemSubject {
    text-align: right;
    font-weight: bold;
    font-family: inherit;
    font-size: 1.9vw;
    color: black;
    margin-top: 16px;
    margin-bottom: 16px;
    background: rgba(0, 123, 255, 0.13);
    border-radius: 25px;
    width: fit-content;
    padding: .6vw;
}

.downloadItemDescription {

    font-size: 1.4vw;
    color: black;
    margin-top: 16px;
    margin-bottom: 16px;
    font-weight: 400;
}

.visitItemDescription {
    text-align: right;
    font-weight: 500;
    font-size: 1.5vw;
    color: black;
    margin-top: 16px;
    margin-bottom: 16px;
    background-color: #ffebaf;
    border-radius: .6vw;
    width: fit-content;
    padding: .6vw;

}

.btnDownload {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    filter: grayscale(100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    font-size: 1.3vw;
    width: 10vw;
    margin-bottom: 16px;
    transition-duration: .3s;

}

.btnDownload:hover {
    filter: grayscale(0%);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.7);
}

.visitObjectSection {
    margin-top: 64px;
}

.downloadObjectParent {
    position: relative;
    min-height: 28vw;
    border-radius: 5px;
    padding: 32px 16px 64px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    background-color: white;
    height: 100%;
    border-top: 4px solid #007bff;
    border-bottom: 4px solid #dc3545;
    transition-duration: 1s;

}

.downloadObjectParent:hover {
    border-top: 4px solid #dc3545;
    border-bottom: 4px solid #007bff;
}

.sliderItem {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}



