:root {
    --primaryColor: #007bff;
    --siteBackground: #f8f9fa;
}

body {
    direction: ltr;
    background: transparent;
    font-family: Dirooz,serif;
}

.table {
    margin: 0;
}

.SUB {
    color: black;
    font-size: 20px;
    font-weight: bold;

}

.DES{
    color: #1b2449;
    font-size: 16px;
}

.SMALLTEXT{
    color: black;
    font-size: 12px;
}


.parent {
    direction: rtl;
    margin: 53px 0 0;
    width: auto;
    height: 100%;

}

.root {
    width: auto;
    height: auto;
}

.EmptyMessage {
    color: tomato;
    margin: 64px auto;
    text-align: center;
}

/** {
    margin: 0;
    padding: 0;
    height: 0;
    width: 0;
}*/

@font-face {
    font-family: 'MyWebFont';
    src: url('/helper/font/dirooz-font-v0.2.1/Dirooz.eot'); /* IE9 Compat Modes */
    src: url('/helper/font/dirooz-font-v0.2.1/Dirooz.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/helper/font/dirooz-font-v0.2.1/Dirooz.woff') format('woff'), /* Modern Browsers */ url('/helper/font/dirooz-font-v0.2.1/Dirooz.ttf') format('truetype') /* Safari, Android, iOS */
    /*url('/helper/font/dirooz-font-v0.2.1/Dirooz.svg#svgFontName') format('svg'); */
}



.img-root {

    position: fixed;
    filter: blur(1px);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    cursor: pointer;

}

.nav-parent {
    margin: 64px 64px 0;
}

/*///////////////////////////////////  Comment   ////////////////////////////////////////*/
.commentParent {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: 16px 0 16px 16px;
    margin-right: 10vw;
}

.commentSubject {
    text-align: right;
    margin-top: 2px;
    margin-bottom: 2px;
    width: fit-content;
    padding: .6vw;
    transition-duration: .7s;
}

.commentText {

    text-align: right;
    color: black;
    margin-top: 2px;
    margin-bottom: 2px;
    padding: .6vw;
    transition-duration: .7s;
}

.commentImage {

    width: 8vw;
    height: 8vw;
    position: absolute;
    right: 0;
    margin-top: .2vw;
    margin-right: 2vw;
}
