:root{
    --primaryColor : #007bff;
}
.parent {
    direction: rtl;
    margin: 53px 0 0;
    width: auto;
    height: 100%;

}

.root {
    width: auto;
    height: auto;
}

.EmptyMessage{
    font-size: 3vw;
    color: tomato;
    margin: 64px auto;
    text-align: center;
}

/** {
    margin: 0;
    padding: 0;
    height: 0;
    width: 0;
}*/

@font-face {
    font-family: 'MyWebFont';
    src: url('/helper/font/dirooz-font-v0.2.1/Dirooz.eot'); /* IE9 Compat Modes */
    src: url('/helper/font/dirooz-font-v0.2.1/Dirooz.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('/helper/font/dirooz-font-v0.2.1/Dirooz.woff') format('woff'), /* Modern Browsers */
    url('/helper/font/dirooz-font-v0.2.1/Dirooz.ttf')  format('truetype') /* Safari, Android, iOS */
    /*url('/helper/font/dirooz-font-v0.2.1/Dirooz.svg#svgFontName') format('svg'); */
}

body {

    background: transparent;
}

.img-root {

    position: fixed;
    filter: blur(1px);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    cursor: pointer;

}

.nav-parent{
    margin: 64px 64px 0;
}

